<p>これ is ログインフォーム</p>
<%= form_with model: @user, local: true, url: "/login", method: :post do |form| %>
  <p>ユーザー名</p>
  <%= form.text_field :username %>
  <p>パスワード</p>
  <%= form.password_field :password %>
  <%= form.submit %>
<% end %>