<p>これ is サインアップ</p>
<%= form_with model: @user, url: "users" do |form| %>
  <p>ユーザー名</p>
  <%= form.text_field :username %>
  <p>パスワード</p>
  <%= form.password_field :password %>
  <%= form.submit %>
<% end %>