<% @user.errors.full_messages.each do |message| %>
<div class="alert alert-danger mx-auto" role="alert">
  <%= message %>
</div>
<% end %>

<div class="heading">
  <h3>パスワード再設定用メール送信フォーム</h3>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: "form-group") do |f| %>
<div class="field mx-auto">
  <p>メールアドレス</p>
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
</div>

<div id="submit" class="actions mx-auto">
  <%= f.submit "再設定用メールを送信", class: "form-control" %>
</div>
<% end %>