.admin-content {
    text-align: left;

    table {
        font-size: 20px;

        .legend {
            text-align: center;
        }

        .id {
            text-align: center
        }
    }
}