<p>このメールはパスワード再設定用のメールです。以下のリンクからパスワードの再設定を行ってください。</p>

<p><%= link_to 'パスワードの再設定', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしもこのメールに心あたりがなければ、そのまま削除してくださいますようお願い致します。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されませんのでご注意ください。</p>