<p><%= I18n.t "password_reset_mail_1" %></p>

<p><%= link_to (I18n.t("do_reset_password")), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= I18n.t "password_reset_mail_2" %></p>
<p><%= I18n.t "password_reset_mail_3" %></p>